html, body {
    margin: 0;
    height: 100%;
}
.wrapper {
    margin: 0;
    padding: 0;
    background: #2C3E50;
    font-family: 'roboto', sans-serif;
}
#sublist{
    padding-left: 0px;
}
#sublist > li{
    list-style-type: none;
    font-family: 'roboto';
    font-size: 16px;
    padding-left: 0px;
    padding-right: 5px;
}
.movie{
    color: #cacaca;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #4f6379;
    transition: background-color 0.3s linear;
}
.movie:hover{
    background-color: #4f6379;
}
.editright{
    float: right;

}
.toolsAlign{
    padding-left: 10px;
}
.info{
    float: right;
    margin-left: 5px;
}
.contentWrapper{
    width:800px;
    margin: 50px auto 0;
    overflow-x: hidden;
   /* position: relative;*/
}
.switcherpanels {
    /*position: absolute;*/
    height: 90%;
    /*width: 60%;*/
    margin-left: auto;
    margin-right: auto;
}
.imageContainer{
  height: 20px;
}
.fa-pencil:hover{
  color: #d2a92b;
}
.fa-repeat:hover{
  color: #34a027;
}

.thumbs{
  margin-top: -4px;
}
.movieText{
  margin-left: 25px;
}
.menuSelected{
    background-color: #19b79a;
    height: 5px;
    width: 100%;
    position:absolute;
    bottom:0;
}


img {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.6s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0.0980392);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
  font-size: 12px;
  height: 31px;

  line-height: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  transition-delay: 0s;
  transition-duration: 0.6s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  width: 20px;
}
.movieInformation{
    height: 100px;
}




/*menu
*/
#menu {
    font-size: 0;
    position: relative;
    padding: 0;
   /* width: 480px;
    margin: 40px auto;*/
    width: 100%;
    background-color: #DA4453;
    user-select: none;
    font-family: Raleway;

}

#menu li {
    display: inline-block;
    width: 160px;
    height: 60px;
    background: #DA4453;
    font-size: 16px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    position: relative
}
.slider {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background: #46CFB0;
    transition: all 0.5s;
}
.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    position: absolute;
    opacity: 1;
}

.rippleEffect {
    -webkit-animation: rippleDrop .6s linear;
    animation: rippleDrop .6s linear;
}

@-webkit-keyframes
rippleDrop {  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
}
}

@keyframes
rippleDrop {  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
}
}
/*
Searchbar*/
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input {
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5em;
    margin: 0;
    outline: none;
    padding: 0;
    -webkit-appearance: none;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both; }

.container {
    width: 100%;
    /*left: 50%;
   margin: -22px 0 0 -141px;
    position: absolute;
    top: 50%;*/
}

/* ---------- SEARCH ---------- */

#search {
    background: #1f3348;
    border-radius: 3px;
    display: inline-block;
    padding: 7px;
    margin-left: 30%;
}

#search input {
    float: left;
}

#search input[type="search"],
#search input[type="submit"] {
    border-radius: 3px;
    font-size: 12px;
}

#search input[type="search"] {
    background: #fff;
    color: #42454e;
    min-width: 184px;
    padding: 6px 8px;
}

#search input[type="submit"] {
    background: #1bba9a;
    color: #fff;
   /* font-weight: bold;*/
    margin-left: 7px;
    padding: 6px 10px;
}

#search input[type="submit"]:hover {
    background: #189e83;
}

#search input[type="search"]::-webkit-input-placeholder { color: #42454e; }
#search input[type="search"]:-moz-placeholder { color: #42454e; }
#search input[type="search"]:-ms-input-placeholder { color: #42454e; }
